BODY {
; Font-Family: Arial, VERDANA, HELVETICA;
; Font-size: 10px;
; Margin-top: 0px; Margin-right: 0px;
; Margin-bottom: 0px; Margin-left: 0px;
; Padding-top: 0px; Padding-right: 0px;
; Padding-bottom: 0px; Padding-left: 0px;
; Border-color: GRAY;
}
.chapter1 {
; Display: none;
}
.chapter {
; Display: block;

}
.branch {
; BackGround-color: SILVER;
CURSOR:HAND;

}
.branchover {
; BackGround-color: GRAY;
CURSOR:HAND;

}
.menuheader {
; Font-Family: Arial;
; Font-weight: normal; Font-size: 14px;

}
.navbarcurrentlink {
; Font-weight: bold; Font-size: 10px;
; Text-decoration: none;
; color: WHITE;

}
.navbarlinks {
; Font-weight: bold; Font-size: 10px;
; Text-decoration: none;
; color: BLACK;

}
.mtable {
; Font-Family: Arial;
; Font-size: 12px;
; BackGround-color: #F9F5EB;
BORDER:1 SOLID #CAB6A3;
}
.header{
; Font-Family: Arial;
; Font-size: 12px;
; BackGround-color: #CAB6A3;
}
.line1{
; Font-Family: Arial;
; Font-size: 12px;
; BackGround-color: #F9F5EB;
}
.line2{
; Font-Family: Arial;
; Font-size: 12px;
; BackGround-color: #EBE2C3;
}

A {text-decoration: none; color: #6666CC;};
A:hover {text-decoration: underline;};

.borderedcontrol {
 border: 1 SOLID #DDDDDD;
 background-color: #F7F7F7;
}
